<div class="modal-content">
    <div class="modal-header">
        <h1>My Selections</h1>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button  type="button" class="btn">Save</button>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
    </div>
</div>