<div class="squid-api-categorical-view-hover-view">
    {{#each items}}
        <b>{{name}}</b>
        <ul>
            {{#each values}}
                <li>{{this}}, </li>
            {{/each}}
        </ul>
    {{/each}}
</div>
