<div class="modal-content">
    <div class="modal-header">
        <h1>My Selections</h1>
    </div>
    <div class="modal-body">
        <div></div>
        <div class="row">
            <div class="form-group col-md-9">
                <input type="text" id="new-selection" class="form-control" placeholder="Selection's name">
            </div>
            <div class="col-md-3">
                <button id="create-selection" type="button" class="btn" disabled>Create</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
    </div>
</div>