<div class="squid-api-date-selection-widget">
    {{#if dateAvailable}}
		<span>{{dateDisplay}}</span>
    {{else}}
        no date available
    {{/if}}
    {{#if notDone}}
        <button data-toggle="tooltip" title="Please click the refresh button to calculate the date facet: {{name}}" class="form-control btn btn-default refresh-facet"><i class="fa fa-refresh"></i> <span>click to refresh</span></button>
    {{/if}}
</div>
