<div class="squid-api-range-selection-widget">
    <select class="form-control">
        <option><i class="fa fa-calendar"></i> Relative</option>
        {{#each ranges}}
            <option value="{{val}}">{{name}}</option>
        {{/each}}
    </select>
    </ul>
</div>