<div class="squid-api-range-selection-widget">
    <select class="form-control">
        <option value='custom'>Custom</option>
        {{#each ranges}}
            <option value="{{val}}" class="select" data-attr="{{val}}" data-i18n="{{i18n}}">{{name}}</option>
        {{/each}}
    </select>
</div>
<span class="caret"></span>
